<%- include('../partials/header') %>

<article
  class="bg-[url(../images/bg-gradient-2.png)] bg-indigo-950 bg-cover w-full h-full"
>
  <section class="Profile">
    <div class="contianer mx-auto px-5 py-25 lg:max-w-7xl">
      <form method="post" enctype="multipart/form-data" action="" >
        <div class="space-y-12">
          <div class="border-b border-white/10 pb-12">
            <h2 class="text-base/7 font-semibold text-white">Profile</h2>
            <p class="mt-1 text-sm/6 text-gray-400"
              >This information will be displayed publicly so be careful what
              you share.</p
            >

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <label
                  for="username"
                  class="block text-sm/6 font-medium text-white"
                  >Username</label
                >
                <div class="mt-2">
                  <div
                    class="flex items-center rounded-md bg-white/5 pl-3 outline-1 -outline-offset-1 outline-white/10 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-500"
                  >
                    <input
                      id="username"
                      type="text"
                      name="userName"
                      value="<%= user.userName %>"
                      placeholder="janesmith"
                      class="block min-w-0 grow bg-transparent py-1.5 pr-3 pl-1 text-base text-white placeholder:text-gray-500 focus:outline-none sm:text-sm/6"
                    />
                  </div>
                </div>
              </div>

              <div class="col-span-full">
                <label
                  for="about"
                  class="block text-sm/6 font-medium text-white"
                  >About</label
                >
                <div class="mt-2">
                  <textarea
                    id="about"
                    name="bio"
                    rows="3"
                    class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
                  ><%= user.bio %></textarea>
                </div>
                <p class="mt-3 text-sm/6 text-gray-400"
                  >Write a few sentences about yourself.</p
                >
              </div>

              <div class="col-span-full">
                <label
                  class="block text-sm/6 font-medium text-white"
                  >Photo</label
                >
                <div class="mt-2 flex items-center gap-x-3">
                  <svg
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    data-slot="icon"
                    aria-hidden="true"
                    class="size-12 text-gray-500"
                  >
                    <path
                      d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                      clip-rule="evenodd"
                      fill-rule="evenodd"
                    />
                  </svg>
                  <label
                    for = "profileImage"
                    class="rounded-md cursor-pointer bg-white/10 px-3 py-2 text-sm font-semibold text-white inset-ring inset-ring-white/5 hover:bg-white/20"
                    >Change</label>

                    <input type="file" accept="*image" id="profileImage" name="profileImage" class="hidden">
                </div>
              </div>

              <div class="col-span-full">
                <label
                  for="cover-photo"
                  class="block text-sm/6 font-medium text-white"
                  >Cover photo</label
                >
                <div
                  class="mt-2 flex justify-center rounded-lg border border-dashed border-white/25 px-6 py-10"
                >
                  <div class="text-center">
                    <svg
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      data-slot="icon"
                      aria-hidden="true"
                      class="mx-auto size-12 text-gray-600"
                    >
                      <path
                        d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                      />
                    </svg>
                    <div class="mt-4 flex text-sm/6 text-gray-400">
                      <label
                        for="coverImage"
                        class="relative cursor-pointer rounded-md bg-transparent font-semibold text-indigo-400 focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-indigo-500 hover:text-indigo-300"
                      >
                        <span>Upload a file</span>
                        <input
                          id="coverImage"
                          type="file"
                          name="coverImage"
                          class="sr-only"
                        />
                      </label>
                      <p class="pl-1">or drag and drop</p>
                    </div>
                    <p class="text-xs/5 text-gray-400"
                      >PNG, JPG, GIF up to 10MB</p
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="border-b border-white/10 pb-12">
            <h2 class="text-base/7 font-semibold text-white"
              >Personal Information</h2
            >
            <p class="mt-1 text-sm/6 text-gray-400"
              >Use a permanent address where you can receive mail.</p
            >

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 items-center">

              <div class="sm:col-span-4">
                <label
                  for="email"
                  class="block text-sm/6 font-medium text-white"
                  >Email address</label
                >
                <div class="mt-2">
                  <input
                    id="email"
                    type="email"
                    name="email"
                    value="<%= user.email %>"
                    autocomplete="email"
                    class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
                  />
                </div>
              </div>

              <div class="sm:col-span-4">
                <a href="/changePass" class="bg-indigo-600 py-2 px-4 rounded-md text-white hover:bg-indigo-800">Change Password</a>
              </div>
            </div>
          </div>
        </div>

        <div class="border-b border-white/10 pb-12 mt-10">
          <h2 class="text-base/7 font-semibold text-white">Delete Account</h2>
          <p class="mt-1 text-sm/6 text-gray-400"
            >No longer want to use our service? You can delete your account here. This action is not reversible. All information related to this account will be deleted permanently.</p
          >

          <div class="mt-5 space-y-10">
            <a href="/deleteAccount" class="bg-red-500 hover:bg-red-700 cursor-pointer py-2 px-3 rounded-md text-white">Delete My Account</a>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
          <a href="/about" class="text-sm/6 font-semibold text-white"
            >Cancel</a
          >
          <button
            type="submit"
            class="rounded-md bg-indigo-500 hover:bg-indigo-700 cursor-pointer px-3 py-2 text-sm font-semibold text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            >Save</button
          >
        </div>
      </form>
    </div>
  </section>
</article>

<%- include('../partials/footer') %>
